@import "../../assets/css/theme.less";

@item-size: 40px;
@full-width: 270px;
@content-border-width: 5px;

@sidebar-base: @sidebar-base-color;
@item-hover: @sidebar-item-hover-color;

@open-transition: 300ms;

@border-radiu-level-0: 10px;
@border-radiu-level-1: 8px;
@border-radiu-level-2: 5px;

@icon-size: 24px;
@icon-color: @sidebar-icon-color;
@text-color: @sidebar-text-color;
