// ui font
@font-ui: 'Alibaba Puhuiti', Arial, sans-serif;
@font-code: 'Fira Code', 'UbuntuMono', Consolas, 'Sarasa Mono', monospace;

// window
@window-bg: #fafbff;

// window controller
@window-button-basic: @window-title-bg;
@window-button-basic-onfocus: @window-title-bg-onfocus;
@window-button-close: #e18a74;
@window-button-maxize: #e7deb0;
@window-button-minimal: #b3e2bf;
@window-button-close-onfocus: #de3318;
@window-button-maxize-onfocus: #d7bd14;
@window-button-minimal-onfocus: #35d05c;

// component: menu
@menu-bg: #ffffff;
@menu-shadow: -1px 1px 12px 1px #e3e3e3;
@menu-separator: darken(@menu-bg, 8);
@menu-item-text-color: #585555;
@menu-item-onfocus: #f6f8fa;

// style: scroll-bar
@scrollbar-track: #00000000;
@scrollbar-thumb: #00000000;
@scrollbar-thumb-onfocus: #96c2ec70;
// style: selection
@text-selection-background: #bfc6cd70;

// title-bar
@window-title-bg: #b0c5e0;
@window-title-bg-onfocus: #809ed4;
@window-title-fg: aliceblue;
@window-title-separator-color: #a0a3ae;

// sidebar
@sidebar-base-color: @card-background;
@sidebar-item-hover-color: darken(@sidebar-base-color, 3%);
@sidebar-icon-color: #646464;
@sidebar-text-color: #363636;
@sidebar-active-marker: darken(@sidebar-base-color, 32%);

// page global
@card-background: #f0f4fa;

// page settings
@setting-page-group-title: lighten(#000000, 36%);
@setting-title-color: #333333;
@setting-title-group-color: #aaaaaa;
@setting-description-color: #686868;

// component: input tools
@input-button-fg: #558cd3;
@input-button-bg: #c8dcf7;
@input-button-bg-onfocus: darken(@input-button-bg, 2%);
@input-button-disabled-fg: #a1a8b1;
@input-button-disabled-bg: #d8e0e9;
@input-switcher-main: #c8dcf7;
@input-switcher-onactive: #84b9fe;
@input-switcher-onempty: lighten(@input-switcher-main, 5%);
@input-text-bg: #ffffff;
@input-text-text: lighten(#000000, 35%);
@input-text-marker: #d8e0e9;
@input-text-marker-onfocus: #3683db;
